.footer {
  background: var(--primary);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__nav-list {
  display: flex;
  justify-content: space-evenly;
}

.footer__nav-list-item {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__nav-list-item:not(:first-child) {
  border-left: 1px solid var(--black);
}

.footer__nav-button {
  color: var(--black);
  background: transparent;
  border: none;
  padding: 0;
}

.footer__nav-button svg {
  fill: currentColor;
}
